html,
body,
#app,
.home-wrapper,
.Details-wapper,
.Details-boxs,
.inquiry-wrap,
.lazyLoad-wrap,
.select-city,
.cartype-wrap,
.color-wrap,
.money-wrap {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
input,
button,
select,
textarea {
  outline: none;
}
.inquiry-wrap{
  padding-bottom: .23rem;
}
#app {
  display: flex;
  flex-direction: column;
}
.home-boxs,
.home-boxs-wrap,
.home-boxs-ul {
  width: 100%;
  height: auto;
}
.home-wrapper {
  overflow-y: scroll;
  z-index: 5;
}
/* 显示 */
/* .select-city{
  transform: translateY(0%);
}
.selectcityAction{
  transform: translateY(100%);
} */
.home-boxs-title {
  font-size: 0.28rem;
  line-height: 0.4rem;
  background: #f4f4f4;
  padding-left: 0.3rem;
  color: #aaa;
}
.home-boxs-ul {
  padding: 0 0.2rem;
  box-sizing: border-box;
}
.home-boxs-ul li {
  height: 1rem;
  border-bottom: 1px solid #ddd;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.home-boxs-ul li span {
  font-size: 0.32rem;
  margin-left: 0.4rem;
}
.home-boxs-ul li img {
  height: 0.8rem;
}
.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 120;
}
.loading div {
  position: relative;
  top: 50%;
  left: 2.65rem;
  transform: translate3d(0, -50%, 0);
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 0.2rem;
}
.loading img {
  width: 2rem;
  margin-top: 0.35rem;
  border-radius: 0.2rem;
}
.loading p {
  font-size: 0.3rem;
  color: #000;
}

.side {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 0.2rem;
}
.side p {
  font-size: 0.24rem;
  color: #666;
  font-weight: 500;
  padding: 0.02rem 0.1rem;
}

.Car-type {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  z-index: 100;
  height: 100%;
  transform: translateX(100%);
  transition: all 2s ease;
}
.active {
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(18%);
  transition: all 2s;
}

.type-List {
  height: 100%;
  overflow-y: scroll;
}
.type-List p {
  margin-left: 1px;
  font-size: 0.28rem;
  line-height: 0.48rem;
  background: #f2f2f2;
  padding-left: 0.3rem;
  color: #717171;
}
.type-List-ul {
  margin-left: 0.1rem;
}
.type-List-ul li {
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  display: flex;
  height: 1.5rem;
}
.type-List-ul li img {
  margin: 0 0.1rem 0 0.2rem;
  width: 1.8rem;
  height: 1.2rem;
}
.type-List-text {
  padding-top: 0.2rem;
}
.type-List-text dt {
  font-size: 0.34rem;
  color: #5f687a;
  background: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.type-List-text dd {
  margin-top: 0.1rem;
  font-size: 0.28rem;
  color: red;
  background: #fff;
}
.Details-buttom {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 99;
  background: #3aacff;
  height: 1rem;
  color: #fff;
  text-align: center;
}
.Details-buttom p:first-child {
  font-size: 0.32rem;
  margin-top: 0.12rem;
  font-weight: 500;
}
.Details-buttom p:nth-child(2) {
  font-size: 0.24rem;
}

.img {
  position: relative;
  height: 3.29rem;
  overflow: hidden;
}
.img img {
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}
.img span {
  position: absolute;
  bottom: 0.3rem;
  right: 0.3rem;
  color: #fff;
  padding: 1px 0.1rem;
  border-radius: 0.2rem;
  background: rgba(0, 0, 0, 0.6);
  font-size: 0.24rem;
}
.info {
  width: 100%;
  height: 1.5rem;
  background: #fff;
  border-bottom: 1px solid #ccc;
}
.info-text {
  width: 45%;
  float: left;
  padding: 0.2rem;
}
.info-text p:first-child {
  font-size: 0.36rem;
  color: red;
  font-weight: 500;
}
.info-text p:nth-child(2) {
  font-size: 0.26rem;
  color: silver;
}
.info-button {
  width: 46%;
  float: left;
  position: relative;
}
.info-button button {
  width: 100%;
  height: 1rem;
  background: #00afff;
  border: 0;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0.2rem;
  border-radius: 0.1rem;
  font-size: 0.32rem;
  height: 0.7rem;
  box-sizing: border-box;
}
.screen-boxs {
  width: 100%;
  height: 100%;
  background: #fff;
}
.product-wrap {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.screen-year {
  width: 100%;
  height: 1rem;
  background: #fff;
  font-size: 0.32rem;
  padding-right: 0.46rem;
  border-bottom: 1px solid #ccc;
}
.screen-year span {
  margin-left: 0.23rem;
  line-height: 1rem;
}

.product-title {
  padding: 0 0.2rem;
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.26rem;
  color: #999;
  background: #f4f4f4;
}
.product-ul {
  background: #fff;
}
.product-ul li {
  padding: 0 0.2rem;
  overflow: hidden;
}
.product-ul li p:first-child {
  padding: 0.26rem 0 0.18rem;
  font-size: 0.3rem;
  line-height: 1;
  color: #3d3d3d;
}
.product-ul li p:nth-child(2) {
  color: #bdbdbd;
  font-size: 0.26rem;
}
.product-ul li p:nth-child(3) {
  text-align: right;
  padding-bottom: 0.1rem;
  font-size: 0.24rem;
  color: #818181;
}
.product-ul li p:nth-child(3) span:nth-child(2) {
  font-size: 0.3rem;
  color: #ff2336;
  margin-left: 0.1rem;
}
.product-ul li button {
  border: none;
  border-top: 1px solid #eee;
  width: 110%;
  height: 0.8rem;
  font-size: 0.32rem;
  color: #00afff;
  background: #fff;
  font-weight: 500;
  margin-left: -0.3rem;
}

.inquiry-header {
  height: 0.6rem;
  line-height: 0.1rem;
  width: 100%;
  background: #79cd92;
  text-align: center;
  z-index: 99;
}
.inquiry-header p {
  color: #fff;
  font-size: 0.3rem;
  display: inline-block;
}
.inquiry-header img {
  width: 0.3rem;
  vertical-align: -9%;
}
.content {
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  overflow-y: scroll;
}
.content-dl dl {
  width: 100%;
  background: #fff;
  height: 2rem;
  display: flex;
  padding: 0.32rem 0.18rem 0.24rem;
  position: relative;
  box-sizing: border-box;
}
.content-dl dl dt img {
  width: 2.3rem;
  height: 1.41rem;
  border: 1px solid #eee;
  box-sizing: border-box;
  border-radius: 5px;
}
.content-dl dl dd {
  padding: 0.2rem 0.2rem;
}
.content-dl dl dd p:first-child {
  font-size: 0.36rem;
  line-height: 1;
}

.content-dl dl dd p:nth-child(2) {
  margin-top: 0.26rem;
  font-size: 0.32rem;
  line-height: 1.2;
  color: #333;
}
.dl:before {
  content: "";
  display: inline-block;
  padding-top: 0.16rem;
  padding-right: 0.16rem;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  transform: rotate(45deg);
  position: absolute;
  right: 0.26rem;
  top: 0.9rem;
}
.self-info p {
  padding: 0 0.2rem;
  font-size: 0.24rem;
  color: #666;
  background: #eee;
  height: 0.5rem;
  line-height: 0.5rem;
}
.self-info-ul {
  background: #fff;
  padding: 0 0.2rem;
}
.self-info-ul li {
  font-size: 0.32rem;
  height: 0.88rem;
  line-height: 0.88rem;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  color: #000;
}
.self-info-ul li span {
  font-size: 0.32rem;
  line-height: 0.88rem;
  color: #000;
}
.self-info-ul li span:nth-child(2) {
  display: inline-block;
  width: 88%;
  color: #555;
  text-align: right;
  box-sizing: border-box;
}
.self-info-ul li span:nth-child(2):after {
  content: "";
  display: inline-block;
  padding-top: 0.16rem;
  padding-right: 0.16rem;
  border-top: 1px solid silver;
  border-right: 1px solid silver;
  transform: rotate(45deg);
}
.self-info-ul li input {
  font-size: 0.32rem;
  padding-right: 0.2rem;
  width: 88%;
  text-align: right;
  box-sizing: border-box;
  color: #555;
  border: none;
}
.quotation{
  background: #fff;
  text-align: center;
  padding-bottom: .28rem;
}
.quotation button{
  font-size: .32rem;
  color: #fff;
  width: 80%;
  background: #3aacff;
  height: .7rem;
  border-radius: .1rem;
  border: none;
}
.dealer-info{
  width: 100%;
  height: auto;
}

.dealer-info p{
  padding: 0 0.2rem;
  font-size: 0.24rem;
  color: #666;
  height: 0.5rem;
  line-height: 0.5rem;
}
.dealer-ul{
  padding: 0 .18rem;
  background: #fff;
}
.dealer-ul li{
  position: relative;
  padding: 0 0 0 .54rem;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  height: 1.65rem;
}
.dealer-ul li:before {
  content: "";
  display: inline-block;
  width: .32rem;
  height: .32rem;
  border-radius: 50%;
  border: 2px solid #ccc;
  box-sizing: border-box;
  position: absolute;
  left: .05rem;
  top: 50%;
  transform: translate3d(0,-50%,0);
}
.dealer-ul li.dealer:before{
  background: #3aacff;
  border: none;
}
.dealer-ul li.dealer:after{
  content: "";
  display: inline-block;
  padding-top: .17rem;
  padding-right: .1rem;
  border: 2px solid #fff;
  transform: rotate(40deg) translate3d(0,-50%,0);
  position: absolute;
  left: .07rem;
  border-left: none;
  border-top: none;
  top: 47%;
}
.dealer-ul li p:first-child {
  font-size: .3rem;
}
.dealer-ul li p:nth-child(2) {
  margin-top: .1rem;
  font-size: .24rem;
  color: #a2a2a2;
  display: inline-block;
  max-width: 4.6rem;
}
.dealer-ul li p:first-child span:last-child {
  font-size: .24rem;
  float: right;
  color: red;
}
.dealer-ul li p:nth-child(2) span:nth-child(2) {
  position: absolute;
  right: .2rem;
  bottom: 0;
}
.lazyLoad-wrap{
  background: #f4f4f4;
  overflow-y: scroll;
}
.flex-row{
  width: 100%;
  position: fixed;
  left:0;
  top:0;
  background: #fff;
  height: .8rem;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 99;
}
.flex-row p{
  display: flex;
  justify-content:space-around;
  align-items: center; 
  height: .8rem;
  line-height: .8rem;
}
.flex-row p span{
  width: 50%;
  text-align: center;
  line-height: 1.25;
  font-size: .28rem;
}
.flex-row p span:after {
  content: "";
  display: inline-block;
  padding-top: .16rem;
  padding-right: .16rem;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  transform: rotate(135deg);
  margin-left: .2rem;
  vertical-align: 5%;
}
.flex-row p span:nth-child(2) {
  border-left: 1px solid #ececec;
}
.lazyLoadwrap{
  height: 100%;
  overflow-y: scroll;
}
.section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.section img{
  width: 2.46rem;
  height: 1.64rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: .02rem;
}

.province{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.location p:first-child,.list p {
  height: .4rem;
  line-height: .4rem;
  font-size: .24rem;
  padding-left: .2rem;
  background: #f4f4f4;
}
.location p:nth-child(2) {
  padding-left: .4rem;
  font-size: .28rem;
  height: .8rem;
  line-height: .8rem;
  background: #fff;
}
.list-ul li{
  padding-left: .3rem;
  font-size: .28rem;
  height: .8rem;
  line-height: .8rem;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  margin-left: .1rem;
  position: relative;
}
.list-ul li:after {
  content: "";
  display: inline-block;
  padding-top: .16rem;
  padding-right: .16rem;
  border-top: 1px solid #999;
  border-right: 1px solid #999;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  right: .35rem;
  top: .3rem;
}
/* 显示 */
.city-type{
  position: fixed;
  top:0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform: translateY(0%);
  z-index: 110;
}
/* 隐藏 */
.city-typeAction{
  transform: translateY(100%);
}

.chengshilist {
  transform: translateY(100%);
}


.cityaction{ 
  position: fixed;
  top:0;
  width: 100%;
  height: 100%;
  z-index: 101;
  background: rgba(0,0,0,.6);
  transform: translateX(0%);
}
.city{
  position: fixed;
  top:0;
  width: 100%;
  height: 100%;
  z-index: 101;
  background: rgba(0,0,0,.6);
  transform: translateX(100%);
}

.city-ul{
  height: 100%;
  overflow-y: scroll;
  background: #fff;
  transform: translateX(100%);
}
.city-ulAction{
  height: 100%;
  overflow-y: scroll;
  background: #fff;
  transform: translateX(30%);
  transition: all 1s linear;
}
.city-ulAction li{
  padding-left: .3rem;
  font-size: .28rem;
  height: .8rem;
  line-height: .8rem;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  margin-left: .1rem;
}
.color-wrap-p,.money-wrap-p{
  margin: .15rem 0;
  font-size: .34rem;
  background: #fff;
  text-align: center;
  line-height: .8rem;
  height: .8rem;
  color: #00afff;
}

.c-type{
    width: 100%;
    margin-top: .15rem;
    padding-left: .2rem;
    font-size: .3rem;
    line-height: .76rem;
    height: .76rem;
    background: #fff;
    overflow-x: scroll;
}
.c-type span{
  padding-right: .42rem;
}
.typeAction{
   color: #00afff;
}
.c-type-ul{
    margin-top: .15rem;
    padding: 0 .2rem;
    overflow: hidden;
    background: #fff;
}
.c-type-ul li{
    float: left;
    width: 3.45rem;
    font-size: .32rem;
    line-height: .68rem;
    border: 1px solid #3aacff;
    box-sizing: border-box;
    margin: .2rem .05rem;
    border-radius: .05rem;
}
.c-type-ul li span{
    display: inline-block;
    width: .4rem;
    height: .4rem;
    margin-left: .2rem;
    vertical-align: -12%;
    box-sizing: border-box;
    border: 1px solid #818181;
}
.money-type-list-ul{
  width: 100%;
  background: #fff;
}
.money-type-list-ul li{
  margin: 0 .2rem;
  padding: .28rem .06rem;
  box-sizing: border-box;
  height: 1.25rem;
  line-height: 1;
  background: #fff;
}
.money-type-list-ul li p:first-child {
  font-size: .3rem;
}
.money-type-list-ul li p:first-child span:nth-child(1) {
  width: 5rem;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.money-type-list-ul li p:first-child span:nth-child(2) {
  float: right;
  color: red;
  font-size: .26rem;
}
.money-type-list-ul li p:first-child(2) {
  padding-top: .16rem;
  font-size: .24rem;
}
.money-type-list-ul li p:first-child(2) span:first-child {
  color: #b3b3b3;
}
.money-type-list-ul li p:first-child(2) span:nth-child(2) {
  color: #818181;
}
.zhidaojia{
  float: right;
}
.money-type-list p{
  height: .5rem;
  line-height: .5rem;
  padding: 0 .2rem;
  font-size: .24rem;
  color: #666;
}
.cartype-wrap,.color-wrap,.money-wrap{
  background: #f4f4f4;
}
.money-list{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.money-wrap{
  padding-bottom: 1rem;
}


